body {
	background-color: $website-color;

}

main {
	padding:  $main-padding-top-spacing $main-padding-side-spacing $main-padding-bottom-spacing;
	max-width: $website-width+px;
	margin: auto;
	font-size: 10px;
}

section {
	font-size: 10px;
	padding: 4.9em 0 $section-padding-upperBottom-spacing 0;
	> header {
		margin-bottom: $section-header-margin-bottom-spacing;
	}
	.cta {
		margin-top: $cta-margin-top-spacing/$cta-size+em;
	}
}

.row {
	+ .row {
		margin-top: $row-margin-top-spacing;
	}
}

.header {
	font-size: 10px;
	padding-bottom: $header-padding-bottom-spacing;
	border-bottom: 2px solid $devider-color;
}

h2 {
	line-height: 1em;
}

.h2-subtitle {
	margin-top: $plateform-margin-top-spacing;
}

.project-year {
	float: right;
	@media #{$break-mobile} { 
		float: none;
		display: block;
	}
}

footer {
	text-align: center;
	font-size: 10px;
	border-top: 2px solid $devider-color;
	padding-top: $footer-padding-top-spacing;
	margin-top: $footer-margin-top-spacing;
}