body {
	background-color: $website-color;

}

main,
.header,
section,
footer {
	font-size: 10px;
	@media #{$break-tablet} { 
		font-size: 9px;
	}
}

main {
	padding:  $main-padding-top-spacing $main-padding-side-spacing $main-padding-bottom-spacing;
	max-width: $website-width+px;
	margin: auto;
}

section {
	padding: 4.9em 0 $section-padding-upperBottom-spacing 0;
	> header {
		margin-bottom: $section-header-margin-bottom-spacing;
	}
	.cta {
		margin-top: $cta-margin-top-spacing/$cta-size+em;
	}
}

.row {
	+ .row {
		margin-top: $row-margin-top-spacing;
	}
}

.header {
	padding-bottom: $header-padding-bottom-spacing;
	border-bottom: 2px solid $devider-color;
	@media #{$break-mobile} { 
		font-size: 6px;
	}
	@media #{$break-xs-mobile} { 
		font-size: 5px;
	}
}

h2 {
	line-height: 1em;
}

.h2-subtitle {
	margin-top: $plateform-margin-top-spacing;
}

.project-year {
	float: right;
}

footer {
	text-align: center;
	border-top: 2px solid $devider-color;
	padding-top: $footer-padding-top-spacing;
	margin-top: $footer-margin-top-spacing;
}

.animate-device {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	z-index: 20;
	&.activated {
		animation-name: scaleUp;
		animation-duration: .25s;
		animation-delay: 0s;
		animation-fill-mode: forwards;		
		animation-timing-function: ease-out;
	}
	&.desactivated {
		animation-name: scaleDown;
		animation-duration: .25s;
		animation-delay: 0s;
		animation-fill-mode: forwards;	
		animation-timing-function: ease-out;
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	&.active {
		background-color: $overlay-color;
		animation-name: opacityUp;
		animation-duration: .25s;
		animation-delay: 0s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
	}
	&.inactive {
		background-color: $overlay-color;
		animation-name: opacityDown;
		animation-duration: .25s;
		animation-delay: 0s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
	}
	&.off {
		display: none;
	}
}

.close-overlay {
	background: url('../assets/pictos/CloseButton.svg');
	width: 44px;
	height: 44px;
	position: fixed;
	top: 22px;
	right: 22px;
	cursor: pointer;
	z-index: 20;
	&.activated {
		animation-name: scaleButtonCloseUp;
		animation-duration: .25s;
		animation-delay: 0s;
		animation-fill-mode: forwards;		
		animation-timing-function: ease-out;
	}
	&.desactivated {
		animation-name: scaleButtonCloseDown;
		animation-duration: .25s;
		animation-delay: 0s;
		animation-fill-mode: forwards;	
		animation-timing-function: ease-out;
	}
	&.off {
		display: none;
	}
}

.videos {
	video {
		display: none;
	}
}