body {
	background-color: $website-color;
}

main {
	padding:  $header-top-spacing $container-side-spacing $footer-bottom-spacing;
	max-width: $website-width+px;
	margin: auto;
	font-size: 10px;
}

section {
	font-size: 10px;
	padding: 4.9em 0 $section-bottom-spacing 0;
	> header {
		margin-bottom: 1.4em;
	}
	.cta {
		margin-top: 3.6em/$cta-size+em;
	}
}

.row {
	+ .row {
		margin-top: 5.4em;
	}
}

.header {
	font-size: 10px;
	padding-bottom: 5.2em;
	border-bottom: 2px solid $devider-color;
}

h2 {
	line-height: 1em;
}

.project-year {
	float: right;
	@media #{$break-mobile} { 
		float: none;
		display: block;
	}
}

footer {
	text-align: center;
	font-size: 10px;
	border-top: 2px solid $devider-color;
	padding-top: $footer-content-top-spacing;
	margin-top: $section-bottom-spacing;
}