.cta {
	$picto-dimension: 2.8em;
	text-align: center;
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding-left: (($picto-dimension + 1.4em)/$cta-size)+em;
	@media #{$break-mobile} { 
		display: block;
		max-width: 115px;
		margin-right: auto;
		margin-left: auto;
	}
	+ .cta {
		margin-left: 6.4em/$cta-size+em;
		@media #{$break-mobile} { 
			display: block;
			margin-left: auto;
		}
		&:after {
			content: "";
			position: absolute;
			left: -3.2em/$cta-size+em;
			top: 0;
			bottom: 0;
			width: 1px;
			background-color: $device-border-color;
			@media #{$break-mobile} { 
				content: none;
			}
		}
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		width: 27px;
		height: 27px;
	}
	&.watch {
		&:before {
			background: url("../assets/pictos/AppStore.svg") no-repeat center;	
			background-size: contain;
		}
	}
	&.download {
		&:before {
			background: url("../assets/pictos/Play.svg") no-repeat center;	
			background-size: contain;
		}
	}
}