// h1 & subtitle colors
h1 {
	color: $primaryColor;
}
.h1-subtitle {
	color: $secondaryColor;
}


// h2 & subtitle colors
h2 {
	color: $primaryColor;
}
.h2-subtitle {
	color: $thirdColor;
}
.project-year {
	color: $fourthColor;
}


// Cta color
.cta {
	color: $tintColor;
}


// Footer color
footer {
	color: $secondaryColor;
}
.developer-name {
	color: $tintColor;
}
