// texts sizes 
$h1-size: 10em;
$h1-subtitle-size: 5.4em;

$h2-size: 3.8em;
$h2-subtitle-size: 2.8em;
$project-year-size: 2.8em;

$cta-size: 2em;

$footer-size: 2em;

// Colors
$tintColor: #34AADC; 
$primaryColor: #000;
$secondaryColor: #5C6371;
$thirdColor: #707781;
$fourthColor: #8891A0;