
figure {
	position: relative;
	box-shadow: 0 0 0 1.5px $device-border-color;
}

video,
img {
	position: absolute;
	max-width: 100%;
	top: 0;
	left: 0;
}

.device {
	box-shadow: 0 8px 40px 0 rgba(219,226,238,0.18);
	position: relative;
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
	}
}

.sensor {
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
	background-color: $website-color;
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
		border-radius: 50%;
	}
}

.speaker {
	position: absolute;
	box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
	background-color: $website-color;
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
	}
}

.screen {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
	> figure {
		width: 100%;
	}
}

.home-button {
	position: absolute;
	box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
	}
}


.device-container {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	&.iphone-v6 {
		max-width: $iphonev6-width+px;
		.device {
			padding-bottom: $iphonev6-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($iphonev6-width, $iphonev6-height, $iphonev6-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev6-width, $iphonev6-height, $iphonev6-radius);
			}
		}
		.sensor {
			width: $iphonev6-photo-ratio;
			padding-top: $iphonev6-photo-ratio;
			left: $iphonev6-photo-leftSpacing-ratio;
			top: $iphonev6-speaker-topSpacing-ratio;
			transform: translateY(-16%);
			background: url('../assets/pictos/iPhone6_camera.svg') no-repeat;
			background-size: cover;
			&:before {
				content: none;
			}
		}
		.speaker {
			top: $iphonev6-speaker-topSpacing-ratio;
			width: $iphonev6-speaker-width-container;
			left: 0;
			right: 0;
			margin: auto;
			padding-top: $iphonev6-speaker-ratio; 
			border-radius: percentageCornerRadiusFor($iphonev6-speaker-width, $iphonev6-speaker-height, $speaker-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev6-speaker-width, $iphonev6-speaker-height, $speaker-radius);
			}
		}
		.screen {
			width: $iphonev6-screen-width-container;
			> figure {
				padding-top: $iphonev6-screen-ratio;
			}
		}
		.home-button {
			bottom: $iphonev6-button-bottomSpacing-ratio;
			width: $iphonev6-button-ratio;
			padding-top: $iphonev6-button-ratio;
			background-color: $website-color;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 50%;
			&:before {
				border-radius: 50%;
			}
		}
	}
	&.iphone-v5 {
		max-width: $iphonev5-width+px;
		.device {
			padding-bottom: $iphonev5-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($iphonev5-width, $iphonev5-height, $iphonev5-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev5-width, $iphonev5-height, $iphonev5-radius);
			}
		}
		.sensor {
			width: $iphonev5-photo-ratio;
			padding-top: $iphonev5-photo-ratio;
			left: 50%;
			transform: translateX(-50%);
			top: $iphonev5-photo-topSpacing-ratio;
			margin: auto;
			background: url('../assets/pictos/iPhone6_camera.svg') no-repeat;
			background-size: cover;
			&:before {
				content: none;
			}
		}
		.speaker {
			position: absolute;
			top: $iphonev5-speaker-topSpacing-ratio;
			width: $iphonev5-speaker-width-container;
			left: 0;
			right: 0;
			margin: auto;
			padding-top: $iphonev5-speaker-ratio; 
			border-radius: percentageCornerRadiusFor($iphonev5-speaker-width, $iphonev5-speaker-height, $speaker-radius);
			background-color: $website-color;
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev5-speaker-width, $iphonev5-speaker-height, $speaker-radius);
			}
		}
		.screen {
			width: $iphonev5-screen-width-container;
			> figure {
				padding-top: $iphonev5-screen-ratio;
			}
		}
		.home-button {
			bottom: $iphonev5-button-bottomSpacing-ratio;
			width: $iphonev5-button-ratio;
			padding-top: $iphonev5-button-ratio;
			background-color: $website-color;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 50%;
			&:before {
				border-radius: 50%;
			}
		}
	}
	&.ipad {
		max-width: $ipad2-width+px;
		.device {
			padding-bottom: $ipad2-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($ipad2-width, $ipad2-height, $ipad2-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($ipad2-width, $ipad2-height, $ipad2-radius);
			}
		}
		.sensor {
			width: $ipad2-photo-ratio;
			padding-top: $ipad2-photo-ratio;
			right: $ipad2-photo-rightSpacing-ratio;
			top: 50%;
			transform: translateY(-50%);
			margin: auto;
		}
		.screen {
			width: $ipad2-screen-width-container;
			> figure {
				padding-top: $ipad2-screen-ratio;
			}
		}
		.home-button {
			position: absolute;
			width: $ipad2-button-ratio;
			padding-top: $ipad2-button-ratio;
			background-color: $website-color;
			left: $ipad2-button-leftSpacing-ratio;
			margin: auto;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			&:before {
				border-radius: 50%;
			}
		}
	}
	&.android {
		max-width: $android2-width+px;
		.device {
			padding-bottom: $android2-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($android2-width, $android2-height, $android2-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($android2-width, $android2-height, $android2-radius);
			}
		}
		.sensor {
			width: $android2-photo-ratio;
			padding-top: $android2-photo-ratio;
			right: $android2-photo-rightSpacing-ratio;
			top: $android2-speaker-topSpacing-ratio;
			transform: translateY(-16%);
			margin: auto;
		}
		.speaker {
			top: $android2-speaker-topSpacing-ratio;
			width: $android2-speaker-width-container;
			left: $android2-speaker-leftSpacing-ratio;
			padding-top: $android2-speaker-ratio; 
			border-radius: percentageCornerRadiusFor($android2-speaker-width, $android2-speaker-height, 4);
			&:before {
				border-radius: percentageCornerRadiusFor($android2-speaker-width, $android2-speaker-height, $speaker-radius);
			}
		}
		.screen {
			width: $android2-screen-width-container;
			> figure {
				padding-top: $android2-screen-ratio;
			}
		}
		.home-button {
			bottom: $android2-button-bottomSpacing-ratio;
			width: $android2-button-width-ratio;
			padding-top: $android2-button-height-ratio;
			background-color: $website-color;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: percentageCornerRadiusFor($android2-home-button-width, $android2-home-button-height, 15);
			&:before {
				border-radius: percentageCornerRadiusFor($android2-home-button-width, $android2-home-button-height, 15);
			}
		}
	}
	&.mac {
		max-width: $mac2-width+px;
		.device {
			padding-bottom: $mac2-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($mac2-width, $mac2-height, $mac2-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($mac2-width, $mac2-height, $mac2-radius);
			}
		}
		.sensor {
			width: $mac2-photo-ratio;
			padding-top: $mac2-photo-ratio;
			right: 0;
			left: 0;
			top: $mac2-photo-topSpacing-ratio;
			margin: auto;
		}
		.screen {
			width: $mac2-screen-width-container;
			> figure {
				padding-top: $mac2-screen-ratio;
			}
		}
		.home-button {
			display: none;
		}
	}
}