.mac-container,
.android-container,
.ipad-container,
.iphone-container {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.iphone,
.mac,
.android,
.ipad {
	position: relative;
	margin: auto;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border: 2px solid $device-border-color;
		z-index: 1;
		
	}
	> .device {
		width: 100%;
		background-color: $device-color;	
		position: relative;
		box-shadow: 0 8px 40px 0 rgba(219, 226, 238, 0.18);
	}
}

.iphone,
.ipad {
	> .device {
		&:after {
			content: "";
			background-color: $website-color;
			border-radius: 50%;
			position: absolute;
			margin: auto;
			box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
		}
		&:before {
			content: "";
			border: $apple-border-button-width+px solid $device-border-color;
			border-radius: 50%;
			position: absolute;
			margin: auto;
		}
	}
}

.iphone,
.android {
	display: inline-block;
	width: 100%;
}

.screen {
	position: absolute;
	left: 0;
	margin: auto;
	right: 0;		
}

figure {
	&:before {
		content: "";
		@include external-border(1.5, $device-border-color);
	}
}

img {
	position: absolute;
	max-width: 100%;
	top: 0;
	left: 0;
}

.mac-container {
	max-width: $mac-width+px;
	> .mac {
		max-width: 100%;
		&:before { 
			border-radius: percentageCornerRadiusFor($mac-width, $mac-height, $apple-radius);
		}
		> .device {
			padding-bottom: $mac-ratio;
			border-radius: percentageCornerRadiusFor($mac-width, $mac-height, $apple-radius);
		}
		.screen {
			transform: translateY($mac-screen-topSpacing-ratio);
			width: $mac-screen-width-container;
			figure {
				padding-top: $mac-screen-ratio;
				&:before {
					border-radius: percentageCornerRadiusFor($mac-screen-width, $mac-screen-height, 7.5);
				}
			}
		}
		img {
			border-radius: percentageCornerRadiusFor($mac-screen-width, $mac-screen-height, $devices-screens-radius);
		}
	}
}

.android-container {
	max-width: $android-width+px;
	> .android {
		max-width: 100%;
		&:before { 
			border-radius: percentageCornerRadiusFor($android-width, $android-height, $android-radius);
		}
		> .device {
			padding-bottom: $android-ratio;
			border-radius: percentageCornerRadiusFor($android-width, $android-height, $android-radius);
			&:after {
				content: "";
				background-color: $website-color;
				border-radius: percentageCornerRadiusFor($android-home-button-width, $android-home-button-height, $android-button-inset-radius);
				position: absolute;
				margin: auto;
				box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
				width: $android-button-width-ratio;
				padding-top: $android-button-height-ratio;
				left: 0;
				right: 0;
				bottom: $android-button-bottomSpacing-ratio;
			}
			&:before {
				content: "";
				position: absolute;
				margin: auto;
				width: $android-button-width-ratio;
				padding-top: $android-button-height-ratio;
				border: $android-border-button-width+px solid $device-border-color;
				background-color: $device-border-color;
				border-radius: percentageCornerRadiusFor(90, 10, $android-button-outset-radius);
				left: 0;
				right: 0;
				bottom: calc(#{$android-button-bottomSpacing-ratio} - 2px);
			}
		}
		.screen {
			transform: translateY($android-screen-topSpacing-ratio);
			width: $android-screen-width-container;
			figure {
				padding-top: $android-screen-ratio;
				&:before {
					border-radius: percentageCornerRadiusFor($android-screen-width, $android-screen-height, 7.5);
				}
			}
		}
		img {
			border-radius: percentageCornerRadiusFor($android-screen-width, $android-screen-height, $devices-screens-radius);
		}
	}
}

.ipad-container {
	max-width: $ipad-width+px;
	> .ipad {
		max-width: 100%;
		&:before {
			border-radius: percentageCornerRadiusFor($ipad-width, $ipad-height, $apple-radius);
		}
		> .device {
			padding-bottom: $ipad-ratio;
			border-radius: percentageCornerRadiusFor($ipad-width, $ipad-height, $apple-radius);
			&:after {
				width: $ipad-button-ratio;
				padding-top: $ipad-button-ratio;
				left: $ipad-button-leftSpacing-ratio;
				top: 0;
				bottom: 0;
				height: 0;
			}
			&:before {
				content: "";
				width: $ipad-button-ratio;
				padding-top: $ipad-button-ratio;
				left: calc(#{$ipad-button-leftSpacing-ratio} - 2px);
				top: 0;
				bottom: 0;
				height: 0;
			}
		}
		.screen {
			transform: translateY($ipad-screen-topSpacing-ratio);
			width: $ipad-screen-width-container;
			figure {
				padding-top: $ipad-screen-ratio;
				&:before {
					border-radius: percentageCornerRadiusFor($ipad-screen-width, $ipad-screen-height, 7.5);
				}
			}
		}
		img {
			border-radius: percentageCornerRadiusFor($ipad-screen-width, $ipad-screen-height, $devices-screens-radius);
		}
	}
}


.iphone-container {
	> .iphone {	max-width: 100%; }
	&.v6 {
		max-width: $iphone6-width+px;
		> .iphone {
			&:before {
				border-radius: percentageCornerRadiusFor($iphone6-width, $iphone6-height, $apple-radius);
			}
			> .device {
				padding-bottom: $iphone6-ratio;
				border-radius: percentageCornerRadiusFor($iphone6-width, $iphone6-height, $apple-radius);
				&:after {
					width: $iphone6-button-ratio;
					padding-top: $iphone6-button-ratio;
					bottom: $iphone6-button-bottomSpacing-ratio;
					left: 0;
					right: 0;
				}
				&:before {
					content: "";
					width: $iphone6-button-ratio;
					padding-top: $iphone6-button-ratio;
					bottom: calc(#{$iphone6-button-bottomSpacing-ratio} - 2px);
					left: 0;
					right: 0;
				}
			}
			.screen {
				transform: translateY($iphone6-screen-topSpacing-ratio);
				width: $iphone6-screen-width-container;
				figure {
					padding-top: $iphone6-screen-ratio;
					&:before {
						border-radius: percentageCornerRadiusFor($iphone6-screen-width, $iphone6-screen-height, 7.5);
					}
				}
			}
			img {
				border-radius: percentageCornerRadiusFor($iphone6-screen-width, $iphone6-screen-height, $devices-screens-radius);
			}
		}
	}
	&.v5 {
		max-width: $iphone5-width+px;
		> .iphone {
			&:before {
				border-radius: percentageCornerRadiusFor($iphone5-width, $iphone5-height, $apple-radius);
			}
			> .device {
				padding-bottom: $iphone5-ratio;
				border-radius: percentageCornerRadiusFor($iphone5-width, $iphone5-height, $apple-radius);
				&:after {
					content: "";
					width: $iphone5-button-ratio;
					padding-top: $iphone5-button-ratio;
					bottom: $iphone5-button-bottomSpacing-ratio;
					left: 0;
					right: 0;
				}
				&:before {
					content: "";
					width: $iphone5-button-ratio;
					padding-top: $iphone5-button-ratio;
					bottom: calc(#{$iphone5-button-bottomSpacing-ratio} - 2px);
					left: 0;
					right: 0;
				}
			}
			.screen {
				transform: translateY($iphone5-screen-topSpacing-ratio);
				width: $iphone5-screen-width-container;
				figure {
					padding-top: $iphone5-screen-ratio;
					&:before {
						border-radius: percentageCornerRadiusFor($iphone5-screen-width, $iphone5-screen-height, 7.5);
					}
				}
			}
			img {
				border-radius: percentageCornerRadiusFor($iphone5-screen-width, $iphone5-screen-height, $devices-screens-radius);
			}
		}
	}
}
