// Devices widths
$iphonev6-width: 415;
$iphonev6-height: 871;
$iphonev6-screen-width: 375;
$iphonev6-screen-height: 667;
$iphonev6-home-button: 62;
$iphonev6-photo: 14;
$iphonev6-speaker-width: 68;
$iphonev6-speaker-height: 8;

$iphonev5-width: 364;
$iphonev5-height: 784;
$iphonev5-screen-width: 320;
$iphonev5-screen-height: 568;
$iphonev5-home-button: 62;
$iphonev5-photo: 14;
$iphonev5-speaker-width: 64;
$iphonev5-speaker-height: 8;

$ipad2-width: 1280;
$ipad2-height: 854;
$ipad2-screen-width: 1024;
$ipad2-screen-height: 768;
$ipad2-home-button: 62;
$ipad2-photo: 16;

$android2-width: 380;
$android2-height: 752;
$android2-screen-width: 336;
$android2-screen-height: 560;
$android2-home-button-width: 86;
$android2-home-button-height: 30;
$android2-photo: 12;
$android2-speaker-width: 160;
$android2-speaker-height: 8;

$mac2-width: 1280;
$mac2-height: 898;
$mac2-screen-width: 1184;
$mac2-screen-height: 802;
$mac2-home-button: 62;
$mac2-photo: 8;


// Devices radius
$iphonev6-radius: 60;

$iphonev5-radius: 49;

$ipad2-radius: 64;

$android2-radius: 44;
$speaker-radius: 4;

$mac2-radius: 40;

// Frames paddings
$iphonev6-button-bottom-spacing: 20;
$iphonev6-speaker-top-spacing: 47;
$iphonev6-left-space-photo: 132;

$iphonev5-button-bottom-spacing: 22;
$iphonev5-speaker-top-spacing: 58;
$iphonev5-photo-top-spacing: 26;
$iphonev5-left-space-photo: 175;

$ipad2-button-left-spacing: 34;
$ipad2-screen-left-spacing: 136;
$ipad2-photo-top-spacing: 419;
$ipad2-right-space-photo: 54;

$android2-button-bottom-spacing: 30;
$android2-speaker-top-spacing: 46;
$android2-left-space-speaker: 96;
$android2-right-space-photo: 97;

$mac2-photo-top-spacing: 26;

// Devices ratios
$ipad2-ratio: ratioFor($ipad2-height, $ipad2-width);
$ipad2-screen-width-container: ratioFor($ipad2-screen-width, $ipad2-width);
$ipad2-screen-ratio: ratioFor($ipad2-screen-height, $ipad2-screen-width);
$ipad2-photo-topSpacing-ratio: ratioFor($ipad2-photo-top-spacing, $ipad2-height);
$ipad2-photo-ratio: ratioFor($ipad2-photo, $ipad2-width);
$ipad2-photo-rightSpacing-ratio: ratioFor($ipad2-right-space-photo, $ipad2-width);
$ipad2-button-ratio: ratioFor($ipad2-home-button, $ipad2-width);
$ipad2-button-leftSpacing-ratio: ratioFor($ipad2-button-left-spacing, $ipad2-width);

$mac2-ratio: ratioFor($mac2-height, $mac2-width);
$mac2-screen-width-container: ratioFor($mac2-screen-width, $mac2-width);
$mac2-screen-ratio: ratioFor($mac2-screen-height, $mac2-screen-width);
$mac2-photo-topSpacing-ratio: ratioFor($mac2-photo-top-spacing, $mac2-height);
$mac2-photo-ratio: ratioFor($mac2-photo, $mac2-width);

$iphonev6-ratio: ratioFor($iphonev6-height, $iphonev6-width);
$iphonev6-screen-width-container: ratioFor($iphonev6-screen-width, $iphonev6-width);
$iphonev6-screen-ratio: ratioFor($iphonev6-screen-height, $iphonev6-screen-width);
$iphonev6-speaker-topSpacing-ratio: ratioFor($iphonev6-speaker-top-spacing, $iphonev6-height);
$iphonev6-speaker-width-container: ratioFor($iphonev6-speaker-width, $iphonev6-width);
$iphonev6-speaker-ratio: ratioFor($iphonev6-speaker-height, $iphonev6-width);
$iphonev6-photo-ratio: ratioFor($iphonev6-photo, $iphonev6-width);
$iphonev6-photo-leftSpacing-ratio: ratioFor($iphonev6-left-space-photo, $iphonev6-width);
$iphonev6-button-ratio: ratioFor($iphonev6-home-button, $iphone6-width);
$iphonev6-button-bottomSpacing-ratio: ratioFor($iphonev6-button-bottom-spacing, $iphonev6-height);

$iphonev5-ratio: ratioFor($iphonev5-height, $iphonev5-width);
$iphonev5-screen-width-container: ratioFor($iphonev5-screen-width, $iphonev5-width);
$iphonev5-screen-ratio: ratioFor($iphonev5-screen-height, $iphonev5-screen-width);
$iphonev5-speaker-topSpacing-ratio: ratioFor($iphonev5-speaker-top-spacing, $iphonev5-height);
$iphonev5-photo-topSpacing-ratio: ratioFor($iphonev5-photo-top-spacing, $iphonev5-height);
$iphonev5-speaker-width-container: ratioFor($iphonev5-speaker-width, $iphonev5-width);
$iphonev5-speaker-ratio: ratioFor($iphonev5-speaker-height, $iphonev5-width);
$iphonev5-photo-ratio: ratioFor($iphonev5-photo, $iphonev5-width);
$iphonev5-photo-leftSpacing-ratio: ratioFor($iphonev5-left-space-photo, $iphonev5-width);
$iphonev5-button-ratio: ratioFor($iphonev5-home-button, $iphone6-width);
$iphonev5-button-bottomSpacing-ratio: ratioFor($iphonev5-button-bottom-spacing, $iphonev5-height);

$android2-ratio: ratioFor($android2-height, $android2-width);
$android2-screen-width-container: ratioFor($android2-screen-width, $android2-width);
$android2-screen-ratio: ratioFor($android2-screen-height, $android2-screen-width);
$android2-speaker-topSpacing-ratio: ratioFor($android2-speaker-top-spacing, $android2-height);
$android2-speaker-width-container: ratioFor($android2-speaker-width, $android2-width);
$android2-speaker-leftSpacing-ratio: ratioFor($android2-left-space-speaker, $android2-width);
$android2-speaker-ratio: ratioFor($android2-speaker-height, $android2-width);
$android2-photo-ratio: ratioFor($android2-photo, $android2-width);
$android2-photo-rightSpacing-ratio: ratioFor($android2-right-space-photo, $android2-width);
$android2-button-bottomSpacing-ratio: ratioFor($android2-button-bottom-spacing, $android2-height);
$android2-button-width-ratio: ratioFor($android2-home-button-width, $android2-width);
$android2-button-height-ratio: ratioFor($android2-home-button-height, $android2-width);


figure {
	position: relative;
	box-shadow: 0 0 0 1.5px $device-border-color;
}

video,
img {
	position: absolute;
	max-width: 100%;
	top: 0;
	left: 0;
}

.device {
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
	}
}

.sensor {
	position: absolute;
	border-radius: 50%;
	box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
	background-color: $website-color;
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
		border-radius: 50%;
	}
}

.speaker {
	position: absolute;
	box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
	background-color: $website-color;
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
	}
}

.screen {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
	> figure {
		width: 100%;
	}
}

.home-button {
	position: absolute;
	box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
	&:before {
		content: "";
		@include internal-border($button-border, $device-border-color);
	}
}


.device-container {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	&.iphone-v6 {
		max-width: $iphonev6-width+px;
		.device {
			padding-bottom: $iphonev6-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($iphonev6-width, $iphonev6-height, $iphonev6-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev6-width, $iphonev6-height, $iphonev6-radius);
			}
		}
		.sensor {
			width: $iphonev6-photo-ratio;
			padding-top: $iphonev6-photo-ratio;
			left: $iphonev6-photo-leftSpacing-ratio;
			top: $iphonev6-speaker-topSpacing-ratio;
			transform: translateY(-25%);
		}
		.speaker {
			top: $iphonev6-speaker-topSpacing-ratio;
			width: $iphonev6-speaker-width-container;
			left: 0;
			right: 0;
			margin: auto;
			padding-top: $iphonev6-speaker-ratio; 
			border-radius: percentageCornerRadiusFor($iphonev6-speaker-width, $iphonev6-speaker-height, $speaker-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev6-speaker-width, $iphonev6-speaker-height, $speaker-radius);
			}
		}
		.screen {
			width: $iphonev6-screen-width-container;
			> figure {
				padding-top: $iphonev6-screen-ratio;
			}
		}
		.home-button {
			bottom: $iphonev6-button-bottomSpacing-ratio;
			width: $iphonev6-button-ratio;
			padding-top: $iphonev6-button-ratio;
			background-color: $website-color;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 50%;
			&:before {
				border-radius: 50%;
			}
		}
	}
	&.iphone-v5 {
		max-width: $iphonev5-width+px;
		.device {
			padding-bottom: $iphonev5-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($iphonev5-width, $iphonev5-height, $iphonev5-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev5-width, $iphonev5-height, $iphonev5-radius);
			}
		}
		.sensor {
			width: $iphonev5-photo-ratio;
			padding-top: $iphonev5-photo-ratio;
			left: 50%;
			transform: translateX(-50%);
			top: $iphonev5-photo-topSpacing-ratio;
			margin: auto;
		}
		.speaker {
			position: absolute;
			top: $iphonev5-speaker-topSpacing-ratio;
			width: $iphonev5-speaker-width-container;
			left: 0;
			right: 0;
			margin: auto;
			padding-top: $iphonev5-speaker-ratio; 
			border-radius: percentageCornerRadiusFor($iphonev5-speaker-width, $iphonev5-speaker-height, $speaker-radius);
			background-color: $website-color;
			&:before {
				border-radius: percentageCornerRadiusFor($iphonev5-speaker-width, $iphonev5-speaker-height, $speaker-radius);
			}
		}
		.screen {
			width: $iphonev5-screen-width-container;
			> figure {
				padding-top: $iphonev5-screen-ratio;
			}
		}
		.home-button {
			bottom: $iphonev5-button-bottomSpacing-ratio;
			width: $iphonev5-button-ratio;
			padding-top: $iphonev5-button-ratio;
			background-color: $website-color;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 50%;
			&:before {
				border-radius: 50%;
			}
		}
	}
	&.ipad {
		max-width: $ipad2-width+px;
		.device {
			padding-bottom: $ipad2-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($ipad2-width, $ipad2-height, $ipad2-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($ipad2-width, $ipad2-height, $ipad2-radius);
			}
		}
		.sensor {
			width: $ipad2-photo-ratio;
			padding-top: $ipad2-photo-ratio;
			right: $ipad2-photo-rightSpacing-ratio;
			top: 50%;
			transform: translateY(-50%);
			margin: auto;
		}
		.screen {
			width: $ipad2-screen-width-container;
			> figure {
				padding-top: $ipad2-screen-ratio;
			}
		}
		.home-button {
			position: absolute;
			width: $ipad2-button-ratio;
			padding-top: $ipad2-button-ratio;
			background-color: $website-color;
			left: $ipad2-button-leftSpacing-ratio;
			margin: auto;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			&:before {
				border-radius: 50%;
			}
		}
	}
	&.android {
		max-width: $android2-width+px;
		.device {
			padding-bottom: $android2-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($android2-width, $android2-height, $android2-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($android2-width, $android2-height, $android2-radius);
			}
		}
		.sensor {
			width: $android2-photo-ratio;
			padding-top: $android2-photo-ratio;
			right: $android2-photo-rightSpacing-ratio;
			top: $android2-speaker-topSpacing-ratio;
			transform: translateY(-25%);
			margin: auto;
		}
		.speaker {
			top: $android2-speaker-topSpacing-ratio;
			width: $android2-speaker-width-container;
			left: $android2-speaker-leftSpacing-ratio;
			padding-top: $android2-speaker-ratio; 
			border-radius: percentageCornerRadiusFor($android2-speaker-width, $android2-speaker-height, 4);
			&:before {
				border-radius: percentageCornerRadiusFor($android2-speaker-width, $android2-speaker-height, $speaker-radius);
			}
		}
		.screen {
			width: $android2-screen-width-container;
			> figure {
				padding-top: $android2-screen-ratio;
			}
		}
		.home-button {
			bottom: $android2-button-bottomSpacing-ratio;
			width: $android2-button-width-ratio;
			padding-top: $android2-button-height-ratio;
			background-color: $website-color;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: percentageCornerRadiusFor($android2-home-button-width, $android2-home-button-height, 15);
			&:before {
				border-radius: percentageCornerRadiusFor($android2-home-button-width, $android2-home-button-height, 15);
			}
		}
	}
	&.mac {
		max-width: $mac2-width+px;
		.device {
			padding-bottom: $mac2-ratio;
			background-color: $device-color;
			border-radius: percentageCornerRadiusFor($mac2-width, $mac2-height, $mac2-radius);
			&:before {
				border-radius: percentageCornerRadiusFor($mac2-width, $mac2-height, $mac2-radius);
			}
		}
		.sensor {
			width: $mac2-photo-ratio;
			padding-top: $mac2-photo-ratio;
			right: 0;
			left: 0;
			top: $mac2-photo-topSpacing-ratio;
			transform: translateY(-50%);
			margin: auto;
		}
		.screen {
			width: $mac2-screen-width-container;
			> figure {
				padding-top: $mac2-screen-ratio;
			}
		}
	}
}





// .mac-container,
// .android-container,
// .ipad-container,
// .iphone-container {
// 	display: inline-block;
// 	width: 100%;
// 	text-align: center;
// }

// .iphone,
// .mac,
// .android,
// .ipad {
// 	position: relative;
// 	margin: auto;
// 	&:before {
// 		content: "";
// 		@include external-border($button-border, $device-border-color);
		
// 	}
// 	> .device {
// 		width: 100%;
// 		background-color: $device-color;	
// 		position: relative;
// 		box-shadow: 0 8px 40px 0 rgba(219, 226, 238, 0.18);
// 	}
// }

// .iphone,
// .ipad {
// 	> .device {
// 		&:after {
// 			content: "";
// 			background-color: $website-color;
// 			border-radius: 50%;
// 			position: absolute;
// 			margin: auto;
// 			box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
// 		}
// 		&:before {
// 			content: "";
// 			border: $apple-border-button-width+px solid $device-border-color;
// 			border-radius: 50%;
// 			position: absolute;
// 			margin: auto;
// 		}
// 	}
// }

// .iphone,
// .android {
// 	display: inline-block;
// 	width: 100%;
// }

// .screen {
// 	position: absolute;
// 	left: 0;
// 	margin: auto;
// 	right: 0;		
// }

// figure {
// 	&:before {
// 		content: "";
// 		@include external-border(1.5, $device-border-color);
// 		z-index: 1;
// 	}
// }

// video,
// img {
// 	position: absolute;
// 	max-width: 100%;
// 	top: 0;
// 	left: 0;
// 	z-index: 2;
// }

// .mac-container {
// 	max-width: $mac-width+px;
// 	> .mac {
// 		max-width: 100%;
// 		&:before { 
// 			border-radius: percentageCornerRadiusFor($mac-width, $mac-height, $apple-radius);
// 		}
// 		> .device {
// 			padding-bottom: $mac-ratio;
// 			border-radius: percentageCornerRadiusFor($mac-width, $mac-height, $apple-radius);
// 		}
// 		.screen {
// 			transform: translateY($mac-screen-topSpacing-ratio);
// 			width: $mac-screen-width-container;
// 			figure {
// 				padding-top: $mac-screen-ratio;
// 				&:before {
// 					border-radius: percentageCornerRadiusFor($mac-screen-width, $mac-screen-height, 7.5);
// 				}
// 			}
// 		}
// 		img,
// 		video {
// 			border-radius: percentageCornerRadiusFor($mac-screen-width, $mac-screen-height, $devices-screens-radius);
// 		}
// 	}
// }

// .android-container {
// 	max-width: $android-width+px;
// 	> .android {
// 		max-width: 100%;
// 		&:before { 
// 			border-radius: percentageCornerRadiusFor($android-width, $android-height, $android-radius);
// 		}
// 		> .device {
// 			padding-bottom: $android-ratio;
// 			border-radius: percentageCornerRadiusFor($android-width, $android-height, $android-radius);
// 			&:after {
// 				content: "";
// 				background-color: $website-color;
// 				border-radius: percentageCornerRadiusFor($android-home-button-width, $android-home-button-height, $android-button-inset-radius);
// 				position: absolute;
// 				margin: auto;
// 				box-shadow: inset 0 8px 40px 0 rgba(219,226,238,0.18);
// 				width: $android-button-width-ratio;
// 				padding-top: $android-button-height-ratio;
// 				left: 0;
// 				right: 0;
// 				bottom: $android-button-bottomSpacing-ratio;
// 			}
// 			&:before {
// 				content: "";
// 				position: absolute;
// 				margin: auto;
// 				width: $android-button-width-ratio;
// 				padding-top: $android-button-height-ratio;
// 				border: $android-border-button-width+px solid $device-border-color;
// 				background-color: $device-border-color;
// 				border-radius: percentageCornerRadiusFor(90, 10, $android-button-outset-radius);
// 				left: 0;
// 				right: 0;
// 				bottom: calc(#{$android-button-bottomSpacing-ratio} - #{$button-border}px);
// 			}
// 		}
// 		.screen {
// 			transform: translateY($android-screen-topSpacing-ratio);
// 			width: $android-screen-width-container;
// 			figure {
// 				padding-top: $android-screen-ratio;
// 				&:before {
// 					border-radius: percentageCornerRadiusFor($android-screen-width, $android-screen-height, 7.5);
// 				}
// 			}
// 		}
// 		img,
// 		video {
// 			border-radius: percentageCornerRadiusFor($android-screen-width, $android-screen-height, $devices-screens-radius);
// 		}
// 	}
// }

// .ipad-container {
// 	max-width: $ipad-width+px;
// 	> .ipad {
// 		max-width: 100%;
// 		&:before {
// 			border-radius: percentageCornerRadiusFor($ipad-width, $ipad-height, $apple-radius);
// 		}
// 		> .device {
// 			padding-bottom: $ipad-ratio;
// 			border-radius: percentageCornerRadiusFor($ipad-width, $ipad-height, $apple-radius);
// 			&:after {
// 				width: $ipad-button-ratio;
// 				padding-top: $ipad-button-ratio;
// 				left: $ipad-button-leftSpacing-ratio;
// 				top: 0;
// 				bottom: 0;
// 				height: 0;
// 			}
// 			&:before {
// 				content: "";
// 				width: $ipad-button-ratio;
// 				padding-top: $ipad-button-ratio;
// 				left: calc(#{$ipad-button-leftSpacing-ratio} - #{$button-border}px);
// 				top: 0;
// 				bottom: 0;
// 				height: 0;
// 			}
// 		}
// 		.screen {
// 			transform: translateY($ipad-screen-topSpacing-ratio);
// 			width: $ipad-screen-width-container;
// 			figure {
// 				padding-top: $ipad-screen-ratio;
// 				&:before {
// 					border-radius: percentageCornerRadiusFor($ipad-screen-width, $ipad-screen-height, 7.5);
// 				}
// 			}
// 		}
// 		img,
// 		video {
// 			border-radius: percentageCornerRadiusFor($ipad-screen-width, $ipad-screen-height, $devices-screens-radius);
// 		}
// 	}
// }


// .iphone-container {
// 	> .iphone {	max-width: 100%; }
// 	&.v6 {
// 		max-width: $iphone6-width+px;
// 		> .iphone {
// 			&:before {
// 				border-radius: percentageCornerRadiusFor($iphone6-width, $iphone6-height, $apple-radius);
// 			}
// 			> .device {
// 				padding-bottom: $iphone6-ratio;
// 				border-radius: percentageCornerRadiusFor($iphone6-width, $iphone6-height, $apple-radius);
// 				&:after {
// 					width: $iphone6-button-ratio;
// 					padding-top: $iphone6-button-ratio;
// 					bottom: $iphone6-button-bottomSpacing-ratio;
// 					left: 0;
// 					right: 0;
// 				}
// 				&:before {
// 					content: "";
// 					width: $iphone6-button-ratio;
// 					padding-top: $iphone6-button-ratio;
// 					bottom: calc(#{$iphone6-button-bottomSpacing-ratio} - #{$button-border}px);
// 					left: 0;
// 					right: 0;
// 				}
// 			}
// 			.screen {
// 				transform: translateY($iphone6-screen-topSpacing-ratio);
// 				width: $iphone6-screen-width-container;
// 				figure {
// 					padding-top: $iphone6-screen-ratio;
// 					&:before {
// 						border-radius: percentageCornerRadiusFor($iphone6-screen-width, $iphone6-screen-height, 7.5);
// 					}
// 				}
// 			}
// 			img,
// 			video {
// 				border-radius: percentageCornerRadiusFor($iphone6-screen-width, $iphone6-screen-height, $devices-screens-radius);
// 			}
// 		}
// 	}
// 	&.v5 {
// 		max-width: $iphone5-width+px;
// 		> .iphone {
// 			&:before {
// 				border-radius: percentageCornerRadiusFor($iphone5-width, $iphone5-height, $apple-radius);
// 			}
// 			> .device {
// 				padding-bottom: $iphone5-ratio;
// 				border-radius: percentageCornerRadiusFor($iphone5-width, $iphone5-height, $apple-radius);
// 				&:after {
// 					content: "";
// 					width: $iphone5-button-ratio;
// 					padding-top: $iphone5-button-ratio;
// 					bottom: $iphone5-button-bottomSpacing-ratio;
// 					left: 0;
// 					right: 0;
// 				}
// 				&:before {
// 					content: "";
// 					width: $iphone5-button-ratio;
// 					padding-top: $iphone5-button-ratio;
// 					bottom: calc(#{$iphone5-button-bottomSpacing-ratio} - #{$button-border}px);
// 					left: 0;
// 					right: 0;
// 				}
// 			}
// 			.screen {
// 				transform: translateY($iphone5-screen-topSpacing-ratio);
// 				width: $iphone5-screen-width-container;
// 				figure {
// 					padding-top: $iphone5-screen-ratio;
// 					&:before {
// 						border-radius: percentageCornerRadiusFor($iphone5-screen-width, $iphone5-screen-height, 7.5);
// 					}
// 				}
// 			}
// 			img,
// 			video {
// 				border-radius: percentageCornerRadiusFor($iphone5-screen-width, $iphone5-screen-height, $devices-screens-radius);
// 			}
// 		}
// 	}
// }
