.iphone,
.mac,
.android,
.ipad {
	position: relative;
	margin: auto;
	> div {
		width: 100%;
		background-color: $device-color;	
		position: relative;
		box-shadow: 0 8px 40px 0 rgba(219, 226, 238, 0.18);
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border: 2px solid $device-border-color;		
			
		}
	}
}

.iphone,
.ipad,
.mac {
	> div {
		&:before {
			border-radius: 34px;
		}
	}
}

.android {
	> div {
		&:before {
			border-radius: 20px;
		}
	}
}

.iphone,
.android {
	display: inline-block;
	width: 100%;
}

.screen {
	position: absolute;
	left: 0;
	margin: auto;
	right: 0;		
}

img {
	position: absolute;
	max-width: 100%;
	top: 0;
	left: 0;
}

.mac {
	max-width: $mac-width+px;
	> div {
		padding-bottom: $mac-ratio;
	}
	.screen {
		transform: translateY($mac-screen-topSpacing-ratio);
		width: $mac-screen-width-container;
		figure {
			padding-top: $mac-screen-ratio;
		}
	}
}

.android {
	> div {
		padding-bottom: $android-ratio;
	}
	.screen {
		transform: translateY($android-screen-topSpacing-ratio);
		width: $android-screen-width-container;
		figure {
			padding-top: $android-screen-ratio;
		}
	}
}

.ipad {
	max-width: $ipad-width+px;
	> div {
		padding-bottom: $ipad-ratio;
	}
	.screen {
		transform: translateY($ipad-screen-topSpacing-ratio);
		width: $ipad-screen-width-container;
		figure {
			padding-top: $ipad-screen-ratio;
		}
	}
}

.iphone {
	&.v6 {
		max-width: $iphone6-width+px;
		> div {
			padding-bottom: $iphone6-ratio;
		}
		.screen {
			transform: translateY($iphone6-screen-topSpacing-ratio);
			width: $iphone6-screen-width-container;
			figure {
				padding-top: $iphone6-screen-ratio;
			}
		}
	}
	&.v5 {
		max-width: $iphone5-width+px;
		> div {
			padding-bottom: $iphone5-ratio;
		}
		.screen {
			transform: translateY($iphone5-screen-topSpacing-ratio);
			width: $iphone5-screen-width-container;
			figure {
				padding-top: $iphone5-screen-ratio;
			}
		}
	}
}
