.two-rows,
.three-rows {
	float: left;
	box-sizing: border-box;
	@media #{$break-mobile} {
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
	}
}

.iphone,
.mac,
.android,
.ipad {
	position: relative;
	margin: auto;
	> div {
		width: 100%;
	}
}

.iphone,
.android {
	display: inline-block;
	width: 100%;
}

.screen {
	position: absolute;
	left: 0;
	margin: auto;
	right: 0;		
}

img {
	position: absolute;
	max-width: 100%;
	top: 0;
	left: 0;
}

.three-rows {
	width: 33.33%;
	&:first-of-type {
		padding-right: 10px;
		text-align: left;
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
	&:nth-of-type(2) {
		padding: 0 5px;
		text-align: center;
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
	&:nth-of-type(3) {
		text-align: right;
		padding-left: 10px; 
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
}

.two-rows {
	width: 50%;
	&:first-of-type {
		padding-right: 10px;
		text-align: right;
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
	&:nth-of-type(2) {
		text-align: left;
		padding-left: 10px; 
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
}

// Devices
.mac {
	max-width: $mac-width+px;
	> div {
		padding-bottom: $mac-ratio;
		background-color: steelblue;			
	}
	.screen {
		transform: translateY($mac-screen-topSpacing-ratio);
		width: $mac-screen-width-container;
		figure {
			padding-top: $mac-screen-ratio;
		}
	}
}

.android {
	> div {
		padding-bottom: $android-ratio;
		background-color: steelblue;			
	}
	.screen {
		transform: translateY($android-screen-topSpacing-ratio);
		width: $android-screen-width-container;
		figure {
			padding-top: $android-screen-ratio;
		}
	}
}

.ipad {
	max-width: $ipad-width+px;
	> div {
		padding-bottom: $ipad-ratio;
		background-color: steelblue;			
	}
	.screen {
		transform: translateY($ipad-screen-topSpacing-ratio);
		width: $ipad-screen-width-container;
		figure {
			padding-top: $ipad-screen-ratio;
		}
	}
}

.iphone {
	&.v6 {
		max-width: $iphone6-width+px;
		> div {
			padding-bottom: $iphone6-ratio;
			background-color: steelblue;			
		}
		.screen {
			transform: translateY($iphone6-screen-topSpacing-ratio);
			width: $iphone6-screen-width-container;
			figure {
				padding-top: $iphone6-screen-ratio;
			}
		}
	}
	&.v5 {
		max-width: $iphone5-width+px;
		> div {
			padding-bottom: $iphone5-ratio;
			background-color: steelblue;			
		}
		.screen {
			transform: translateY($iphone5-screen-topSpacing-ratio);
			width: $iphone5-screen-width-container;
			figure {
				padding-top: $iphone5-screen-ratio;
			}
		}
	}
}

.clearfix {
	clear: both;
	display: block;
}