.three-cols {
	width: 33.33%;
	&:first-of-type {
		padding-right: 10px;
		text-align: left;
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
	&:nth-of-type(2) {
		padding: 0 5px;
		text-align: center;
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
	&:nth-of-type(3) {
		text-align: right;
		padding-left: 10px; 
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
}

.two-cols {
	width: 50%;
	&:first-of-type {
		padding-right: 4.8%;
		text-align: right;
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
	&:nth-of-type(2) {
		text-align: left;
		padding-left: 4.8%; 
		@media #{$break-mobile} { 
			padding: 0; 
			text-align: center;
		}
	}
}

.two-cols,
.three-cols {
	float: left;
	box-sizing: border-box;
	@media #{$break-mobile} {
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
	}
	+ .two-cols,
	+ .three-cols {
		@media #{$break-mobile} {
			margin-top: 5.4em;
		}
	}
}

.clearfix {
	clear: both;
	display: block;
}